# Server Configuration
PORT=3000

# Redis Configuration (Use 'redis' if running inside Docker Compose)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Webhook Configuration
WEBHOOK_RECEIVER_URL=http://localhost:3000/api/webhook-receiver

# Simulated Legacy Database 
LEGACY_DB_WAIT_TIME_MS=10000